
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    
}
.logo 
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.Search{
  margin-left: 300px;
  margin-right: 200px;
  background-color: white;
  color:rgb(12, 10, 10);
  font-size: medium;
  width:400px;
  height:50px;
  border: 2px solid black;
  border-radius: 10px;
  
}


nav{
   background-color: rgba(17, 24, 39, 1);;
    height: 80px;
    width: 100%;
     font-family: 'Times New Roman', Times, serif;

}

.logo img{
    width: 65px;
    height: 65px;
    line-height: 70px;
    padding: 6px 5px;
    margin-top: 5px;
   margin-left: 5px;
   border-radius: 50%;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: -72px
}
nav ul li {
       display: inline-block;
       line-height: 80px;
       margin: 5px;
       font-size: 25px;
       margin-top: 5px;
       margin-left: 5px;
       color:rgb(47, 79, 79);
}
nav ul li a{
   color: rgba(167, 139, 250, 1);
}
.form-container {
    width: 320px;
    height: 450px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 600px;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
   
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 0rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  
 
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  .bigphoto{
     height: 496px;
   width: 700px;
   margin-top: 0px;
   margin-left: 394px;
 }
 
  
  .container {
    position: relative;
    display: flex;
    margin: 10px 250px;
  }
  
  .container span {
    font-size: 6em;
    color:  rgba(17, 24, 39, 1);
    font-weight: bold;
    opacity: 0;
    animation: drop 0.4s linear forwards;
  }
  
  .container span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .container span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .container span:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .container span:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  .container span:nth-child(6) {
    animation-delay: 1s;
  }
  
  .container span:nth-child(7) {
    animation-delay: 1.2s;
  }
  
 
  
  @keyframes  drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
    }
    5% {
      opacity: 0.7;
    }
    50% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
    65% {
      transform: translateY(-17px) scaleY(0.9);
    }
    75% {
      transform: translateY(-22px) scaleY(0.9);
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
  }
  .center{
    text-align: center;
    color: rgb(115, 85, 205);
  }
  